html,body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header
{
    background:linear-gradient(50dg,blue,lightblue);
    width:100%;
    display:black;
    height:100px;
    color:white;
    padding:5px;
    text-align: center;
    box-shadow:0 3px 2px black;
    font-size: 18px;

}
section{
    padding: 10px;
}
article h2{
color: blueviolet;
}
.main-footer
_{
    background: linear-gradient(45deg,black,darkslategray);
    color: white;
    padding: 12px;
    box-shadow:0 5px 5px black;
}
.main-footer a{
    color: white;
}
h1#heading1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times new roman', Courier, monospace;
    background-color: #000000;
    border: 15px ridge;
    font-style: normal;
    font-weight: bolder;
}
body{
background-color: rgb(255, 255, 255);
border: 5px double;
}